/*Imported Font*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

:root {
    --primary-color: #ea8c55;
    --secondary-color: #c75146;
    --tertiary-color: #ad2e24;
    --quarternary-color: #81171b;
    --quinary-color: #540804;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', sans-serif;
}
