
/*Imported Font*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

:root {
    --primary-color: #ea8c55;
    --secondary-color: #c75146;
    --tertiary-color: #ad2e24;
    --quarternary-color: #81171b;
    --quinary-color: #540804;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', sans-serif;
    background-color: var(--quarternary-color);
}



.title-page, .filter, .criteria-page, .new-date-page, .saved-date-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);

}
.medium-flex-dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.filter-page.filterActivate, 
.criteria-page.criteriaActivate,
.new-date-page.newDateActivate,
.saved-date-page.savedDateActivate{
  display: inline;
}

.title-page.titleDeactivate{
  display: none;
}

.title-page{
  width: 85%;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 20%;
}

h1 {
  text-shadow: 2px 2px rgba(234,140,85, 0.5);
}

.title{
  background-color: var(--secondary-color);
  color: var(--quarternary-color);
  padding: 10px;
  font-size: 40px;
  margin-top: 3%;
  border-radius: 20%;
  text-align: center;
  font-weight: 700;



}

.new-date-btn, .saved-date-btn{
  padding: 18px;
  background-color: var(--quinary-color);
  color: var(--primary-color);
  margin-left: 8.7%;
  margin-bottom: 5%;
  text-align: center;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0px 15px;
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
}

.filter-page{
  display: none;
}

.filter-title{
  background-color: var(--tertiary-color);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 2px 4px rgba(199,81,70, 0.5);
  border-radius: 20% 20% 0 0;
  border-bottom: 5px solid var(--primary-color);
}

.filter{
  width: 50%;
  background-color: var(--quinary-color);
  border-radius: 20%;
  top: 40%;
}


.filter .filter-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 60%;
  font-size: 20px;
  margin-left: 36px;
  color: var(--primary-color);
  background-color: var(--quinary-color);
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
}

input.check-box{
  padding: 50px;
  margin-left: 46%;
}

.next-btn{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  padding: 30px;
  font-size: 30px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
  border-radius: 0px 15px;
}

.criteria-page{
  width: 85%;
  height: 30%;
  background-color: var(--quinary-color);
  border-radius: 20%;
  top: 40%;
  display: none;
}

.criteria-title{
  background-color: var(--tertiary-color);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 2px 4px rgba(199,81,70, 0.5);
  border-radius: 20% 20% 0 0;
  border-bottom: 5px solid var(--primary-color);
}

.criteria-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 60%;
  font-size: 20px;
  margin-left: 65px;
  color: var(--primary-color);
  background-color: var(--quinary-color);
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
}

.user-criteria{
  background-color: var(--quinary-color);
}

input#day-of, #zipcode{
  padding: 15px;
  border: 20px solid var(--quinary-color);
  background-color: var(--primary-color);
  
}

button.create-date-btn{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  margin-left: 31px;
  font-size: 30px;
  background-color: var(--tertiary-color);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
  border-radius: 0 15px;
}

.new-date-page {
  width: 90%;
  height: 80%;
  background-color: var(--quinary-color);
  border-radius: 20%;
  top: 45%;
  display: none;
}

.new-title{
  background-color: var(--tertiary-color);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
  text-shadow: 2px 4px rgba(199,81,70, 0.5);
  border-radius: 20% 20% 0 0;
  border-bottom: 5px solid var(--primary-color);
}

.api-page, .saved-api-page{
  background-color: var(--quinary-color);
  margin: 0%;
}

.new-list{
  font-size: 20px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--quarternary-color);
  padding: 5px;
  outline: none;
  border: none;
  text-shadow: 1px 2px rgba(199,81,70, 0.5);

}


li.restaurant-api::marker{
  color: var(--quarternary-color);
}
li.movie-api::marker{
  color: var(--quarternary-color);
}
li.event-api::marker{
  color: var(--quarternary-color);
}

.save-date-btn{
  text-align: center;
  margin-top:45%;
  margin-left: 15.5%;
  font-size: 30px;
  background-color: var(--tertiary-color);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
  border-radius: 0 15px;
}

.saved-date-page{
width: 90%;
height: 90%;
background-color: var(--tertiary-color);
border-radius: 15%;
top: 50%;
display: none;
}

.save-title{
  background-color: var(--secondary-color);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  color: var(--primary-color);
  text-shadow: 2px 4px rgba(199,81,70, 0.5);
  border-radius: 20% 20% 0 0;
  border-bottom: 8px solid var(--primary-color);
}

.save-list{
  margin-top: 5%;
  font-size: 20px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px;
  outline: none;
  border: none;
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
}

li.saved-restaurant-api::marker{
  color: var(--quarternary-color);
}
li.saved-movie-api::marker{
  color: var(--quarternary-color);
}
li.saved-event-api::marker{
  color: var(--quarternary-color);
}

.saved-api-page{
  background-color: var(--tertiary-color);
}

.date-day, .date-zip{
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.date-display, .zip-display{
  background-color: var(--tertiary-color);
  text-align: center;
}

.save-date-btn2, .delete-date-btn{
  font-size: 35px;
  text-align: center;
  padding: 10px;
  margin-top:12%;
  margin-left: 11%;
  border: 5px solid var(--primary-color);
  background-color: var(--tertiary-color);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
  border-radius:15px;
}

.next-btn2, .previous-btn{
  padding: 10px;
  background-color: var(--quinary-color);
  font-size: 20px;
  color: var(--primary-color);
  margin-left: 18%;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0px 15px;
  text-shadow: 1px 2px rgba(199,81,70, 0.5);
}

.color{
  background-color: var(--tertiary-color);
}









